$color_1: white;
$color_2: hsl(330, 100%, 98%);
$color_3: hsl(30, 54%, 90%);
$color_4: hsl(30, 18%, 87%);
$color_5: hsl(30, 10%, 34%);
$color_6: hsl(24, 5%, 18%);
$color_7: hsl(14, 45%, 36%);
$color_8: hsl(332, 51%, 32%);

$background-color_1: white;
$background-color_2: hsl(330, 100%, 98%);
$background-color_3: hsl(30, 54%, 90%);
$background-color_4: hsl(30, 18%, 87%);
$background-color_5: hsl(30, 10%, 34%);
$background-color_6: hsl(24, 5%, 18%);
$background-color_7: hsl(14, 45%, 36%);
$background-color_8: hsl(332, 51%, 32%);

$font-family_1: "Outfit", sans-serif;
$font-family_2: "Young Serif", serif;

body {
  font-size: 16px;
  font-family: $font-family_1;
  padding: 0;
  margin: 0;
  background-color: $background-color_3;
  font-weight: 400;

  section {
    border-radius: 24px;
    width: 630px;
    margin: 48px auto;
    background-color: $background-color_1;
    color: $color_6;
    padding: 36px;
    img,
    #preparation {
      border-radius: 18px;
    }
    #image {
      img {
        width: 100%;
      }
    }
    #meat {
      hr {
        color: $color_5;
        background-color: $background-color_5;
      }
      h1,
      h2 {
        font-family: $font-family_2;
      }
      h2 {
        color: $color_7;
      }
      h1 {
        font-size: 2.5em;
        margin: 16px 0;
      }

      h3 {
        color: $color_7;
      }

      #preparation {
        background-color: $background-color_2;
        padding: 24px;
        h3 {
          color: $color_8;
          margin: 0;
        }
        ul {
          padding: 0 20px;
          margin-bottom: 0;
          li {
            padding: 5px;
          }
        }
      }
      #ingredients {
        ul {
          padding: 0 20px;
          li {
            padding: 5px;
          }
        }
      }
      #instructions {
        ol {
          padding: 0 20px;
          font-weight: 600;
          li {
            padding: 0;
          }
          li {
            color: $color_7;
            p {
              color: $color_6;
              font-weight: 400;
              strong {
                font-weight: 600;
              }
            }
          }
        }
      }
      #nutrition {
        #nutty {
          .nuts {
            display: flex;
            div {
              width: 50%;
              margin: 6px auto 6px 24px;
            }

            .seed {
            }
            .sprout {
              color: $color_7;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  body {
    section {
      margin: 0;
      border-radius: 0;
      width: 100%;
      padding: 0;
      img {
        border-radius: 0;
      }
      #meat {
        padding: 30px;
        h1 {
          font-size: 1.9em;
        }
        #preparation,
        #ingredients {
          ul {
            padding: 0 0 0 20px;
          }
        }
        #instructions {
          ol {
            padding: 0 0 0 20px;
          }
        }
      }
    }
  }
}
